.signUpSection {
  width: 38%;
}

.signUpForm {
  border-radius: 27px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 34px 20px 8px;
  font-family: Inter, sans-serif;
  font-size: 20px;
}

.formTitle {
  color: #000;
  align-self: flex-start;
  font: 400 24px Inter, sans-serif;
}

.formInput {
  margin-top: 20px;
  white-space: nowrap;
  padding: 20px 15px;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  font: 400 20px Inter, sans-serif;
  width: calc(100% - 35px); /* Adjust width to accommodate the toggle button */
}

.signUpButton {
  background-color: #a7c7e7;
  box-shadow: 0 3px 3px rgba(243, 240, 240, 0.2);
  margin-top: 20px;
  color: #000;
  padding: 15px 50px;
  font: 400 16px Inter, sans-serif;
  cursor: pointer;
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center text */
}

/* Remove or customize glow effect on hover */
.signUpButton:hover {
  background-color: #4599ee; /* Slightly different color on hover (customize as needed) */
}

@media (max-width: 991px) {
  .signUpButton {
    padding: 0 20px;
  }
}

.divider {
  display: flex;
  align-items: center;
  margin: 23px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 200;
}

.dividerLine {
  flex-grow: 1;
  height: 1px;
  background-color: #d9d9d9;
}

.dividerText {
  padding: 0 10px;
}

.socialLoginOptions {
  aspect-ratio: 5.75;
  object-fit: contain;
  width: 172px;
  align-self: center;
  margin-top: 9px;
}

.loginPrompt {
  align-self: center;
  margin-top: 23px;
  font-size: 13px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.5);
  flex-grow: 1;
}

.loginLink {
  color: #00f;
  border: 0px solid  #f2f2f2; /* Border color and width */
  background-color: transparent; /* Transparent background */
  cursor: pointer; /* Ensure the cursor changes to a pointer on hover */
}

.loginLink:hover {
  text-decoration: underline; /* Underline on hover for better visibility */
}

/* New styles for password visibility toggle */
.passwordFieldContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.togglePasswordVisibility {
  position: absolute;
  right: 25px;
  top: 60%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #007bff; /* Color for visibility toggle */
}

.successMessage {
  color: #007bff; /* Blue color for success message */
  font-size: 16px; /* Adjust font size if needed */
  margin-top: 10px; /* Space above the success message */
}


@media (max-width: 991px) {
  .signUpSection {
    width: 100%;
    margin-top: 40px;
  }

  .signUpForm {
    max-width: 100%;
  }

  .formInput,
  .signUpButton {
    max-width: 100%;
  }
}
